$white-300: #fff;
$gray-100: #d9d9d96b;
$gray-900: #1a1a1a;

$primary-500: #382bf0;
$primary-600: #3425bb;

$danger-500: #f03b3b;
$danger-600: #bb2e2e;

$success-500: #219e55;
$success-600: #0e3a20;

$colors : (
  primary-500: $primary-500,
  primary-600: $primary-600,
  success-500: $success-500,
  success-600: $success-600,
  danger-500: $danger-500,
  danger-600: $danger-600,
  white-300: $white-300,
  gray-100: $gray-100,
  gray-900: $gray-900
);

@mixin gen-props($prefix, $property) {
  @each $color-name, $color in $colors {
    .#{$prefix}-#{$color-name} {
      #{$property}: $color !important;
    }
  }
}

@mixin gen-props-hover($prefix, $property) {
  @each $color-name, $color in $colors {
    .#{$prefix}\:hover-#{$color-name} {
      &:hover {
        #{$property}: $color !important;
      }
    }
  }
}

@include gen-props('text', 'color');
@include gen-props-hover('text', 'color');
@include gen-props('bg', 'background');
