$rad-sizes: 0 0.125rem 0.25rem 0.5rem 1rem 2rem 4rem 8rem 16rem;

@for $i from 1 through length($rad-sizes) {
  $rad-size: nth($rad-sizes, $i);
  .radius-#{$i - 1} {
    border-radius: $rad-size;
  }
}